.color-picker-container {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    border: 1px solid black;
    font-size: 1em;
    padding: 3em;
    margin: 0 10% 0 10%;
    text-align: center;
}

.display-color {
    margin-bottom: 2%;
}